<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Log in Your Account</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="login-email"
          name="email"
          class="log-in-input"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="login-password"
          name="password"
          class="log-in-input"
          required
        />
      </div>
      <button type="submit" id="log-in" onclick="logIn()">Login</button>
      <p>
        Don't have an account?
        <a id="sign-up-link" href="../Sign-up-user/signup.html">Sign Up</a>
      </p>
    </div>
    <script src="../../app.js"></script>
  </body>
</html>
